@import "../constants.scss";

.input {
  background: rgba(255, 255, 255, 0.2);
  background-image: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 0;
  font-family: $font-gotham;
  font-size: 20px;
  line-height: 22px;
  font-weight: 200;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 10px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  width: 100%;

  &:focus {
    border-width: 2px;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.12);
    border-color:rgba(255, 255, 255, 0.5);
  }
}
