.blocks_shuffle_box {
  margin: 33% auto;
}

.preview_title {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.preview_reload {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.message_preview {
  flex-grow: unset;
  flex-basis: 1;
  margin-top: 1.5rem;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.message_hr {
  border: 0;
  border-bottom: 1px solid #DEDEDE;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .message_preview {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 0 0 40px;
  }
}
