@import "../constants.scss";

.step_title {
  display: flex;
  align-items: center;
  position: relative;
  margin: 1rem 0 15px 0;
  user-select: none;
}

.step_number {
  display: inline-block;
  font-family: $font-gotham;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-weight: 200;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #fff;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  padding: 4px 0;
}

.step_text {
  font-family: $font-gotham;
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
}
