@import "../constants.scss";

.msender_modal {
  display: none;
}

:global(.is-open) {
  display: block;
}

.msender_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.msender_modal_container {
  background-color: #fff;
  padding: 1.5rem;
  margin: 1.5rem;
  max-width: 500px;
  max-height: 80vh;
  position: relative;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.msender_modal_close {
  background: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;

  &:before {
    content: "\2715";
    color: #000;
  }
}

.msender_modal_title {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
}

.msender_modal_content_content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}
