@import "../constants.scss";

.value_field {
  margin: 0;
  padding: 8px 0;
}

.label {
  align-items: flex-start;
  font-family: $font-system;
  font-size: 15px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: $color-blue-native;
  display: flex;
  justify-content: space-between;
  user-select: none;
  width: 100%;
}

.label_hint {
  color: #9D9D9D;
}

.input {
  font-family: $font-system;
  font-size: 15px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  outline: none;
  border: 0;
  margin: 0;

  &:focus {
    background: #eee;
    border-radius: 3px;
  }

  &:disabled {
    background-color: inherit;
    color: inherit;
    opacity: inherit;
  }
}

.input_multiline {
  composes: input;
  line-height: 1.5;
  resize: none;
  min-height: 300px;
  padding: .5rem 0;
  width: 100%;
}

.copy_container {
  margin: 0 0 0 5px;
  padding: 2px 0;
}
