.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.button_container_mobile {
  composes: button_container;
}

@media screen and (min-width: 768px) {
  .button_container_mobile {
    display: none;
  }
}
